<!DOCTYPE html>
<html>
<head>
	<title>Advent - The World Awaits it's Saviour</title>
	<meta property="og:title" content="Advent" />
	<meta property="og:url" content="http://www.advent.cornerstonecity.eu" />
	<!-- Stuff to make it look native on mobile --> 
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0">

	<meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon-precomposed" href="/images/icon.png" />
	<meta name="apple-mobile-web-app-status-bar-style” content=”black" />



	<link rel=”apple-touch-startup-image” href=”/images/icon.png” />


	
	<script src="/javascript/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="/javascript/bookmark_bubble.js"></script>
	<script type="text/javascript" src="/javascript/example.js"></script>
	<script type="text/javascript" src="/javascript/tooltipster.js"></script>	
	<link rel="stylesheet" href="/css/pure.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/tooltipster.css">
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script type="text/javascript">

        $(document).ready(function() {
        page_popup_bubble = "#index";

        	// fixes an ugly issue where image drops down on small devices
        	var alignLink = function() {
        		if($( window ).width() < 768) {
        			$('.right:first').css('position', 'absolute')
	        		.css('top', '0px')
	        		.css('right', '0px')
	        		.css('width', '100px')
        		}
        		else {
        			$('.right:first').css('position', 'relative')
        			.css('width', '')

        		}
        	};

        	// text-align: center won't work on the circles
        	var alignCircles = function() {
	        	var circles = $('.circle')
	        	var offset = $('.box').width()/2 -25 ;
	        	for (var i = 0; i < circles.length; i++) {
	        		$(circles[i]).css('marginLeft', offset)
	        	};
        	};

        	// keepeing thins in their places
        	var commentFormFix = function() {
        		if($( window ).width() < 462) {
        			$('img.commentIcon').css('marginBottom', '20px');
        			console.log('adjusting');
        		}
        	};

        	// calling my functions
            $('.tooltip').tooltipster();
            alignCircles();
         	alignLink();
         	commentFormFix();


         	//keeping things right on resize
	        $(window).resize(function() {
	        	alignCircles();
	        	alignLink();
	        	commentFormFix();
        	});
        });

    </script>
</head>
<body>
<div class="pure-g-r grey">
	<div class="pure-u-1-5">
	</div>
	<div class="pure-u-2-5">
		<a href='/'><div class="heading">Advent</div></a>
	</div>

	<div class="pure-u-1-5 right">
		<% if logged_in? %>
		<a href="/logout" class="tooltip" title="Log Out">
			<%= img_tag_for_user(@current_user.id) %>
		</a>
		<% else %>
		<a class="pure-button login" href="/login">Login <i class="fa fa-facebook-square fa-l"></i></a>
		<% end %>
	</div>
		<div class="pure-u-1-5">
		</div>
</div>
<%= yield %>

<div class="pure-g-r footer" id="index">
<div class="pure-u-1-3"></div><div class="pure-u-1-3"></div><div class="pure-u-1-3"></div>
	
</div>
</body>
</html>